<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679409694145-shl3v5urn3muf6pen2ema5qc98mtrhn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679409694145-shl3v5urn3muf6pen2ema5qc98mtrhn8</string>
	<key>API_KEY</key>
	<string>AIzaSyBV9I3j1xqGZ8gH0siMLCxH8dDbr1HrkK0</string>
	<key>GCM_SENDER_ID</key>
	<string>679409694145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileLab0120521802</string>
	<key>PROJECT_ID</key>
	<string>mobile-lab-45995</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-lab-45995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679409694145:ios:c367265639a26b18d8eb40</string>
</dict>
</plist>